# Ignore vendor and node_modules
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Ignore Laravel-specific files
bootstrap/compiled.php
storage/
!storage/.gitignore
public/storage
public/hot
public_html/storage
public_html/hot
public/
!public/js/  # Allow public/js directory
!public/js/global-notifications.js  # Allow specific file
!public/js/firebase-init.js
# Ignore sensitive and environment-specific files
.env
.env.*
Homestead.yaml
Homestead.json
phpunit.xml
/.vagrant
.phpunit.result.cache
auth.json

# Ignore build and cache files
/public/build
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
public/script-detail-med/html-content-2.html
public/script-detail-med/html-content.html
public/script-detail-med/file.json

# Ignore logs and temporary files
*.log
*.swp
*.swo

# Ignore custom project directories
WicDoctor/
public/Back-WIc-Doctors
public/Back-NodeJS/Back-WIc-Doctors

# Ignore composer lock and grpc
composer.lock
grpc/
grpc*