# Ignore vendor and node_modules
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Ignore Laravel specific files
bootstrap/compiled.php
storage/
storage/*
!storage/.gitignore  # Allow keeping an empty storage directory
public/storage
public/hot
public_html/storage
public_html/hot

# Ignore sensitive and environment-specific files
storage/*.key
.env
.env.*
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
auth.json

# Ignore build and cache files
/public/build
storage/framework/cache/
storage/framework/views/
storage/framework/sessions/
public/script-detail-med/html-content-2.html
public/script-detail-med/html-content.html

# Ignore logs and temporary files
storage/logs/
*.log
*.swp
*.swo

# Ignore custom project directories
WicDoctor/

WicDoctor
public/Back-WIc-Doctors
public/Back-NodeJS/Back-WIc-Doctors
public/script-detail-med/file.json
public/script-detail-med/html-content-2.html
public/script-detail-med/html-content.html
